.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 700ms;
  transition-delay: 700ms;
}

.fade-exit {
  opacity: 1;
  transition: 800ms;
  transition-delay: 300ms;
}
.fade-exit-active {
  opacity: 0;
}
.open-enter {
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
}

.open-enter-active {
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
  transition:1s;
}

.open-exit {
  opacity: 1;
  max-height: 1000px;
}
.open-exit-active {
  opacity: 0;
  transition: 1s;
  max-height:0px;
  overflow: hidden;
}

.object-fade {
  animation: fadeIn 1s ease-in-out;
}



.spinner-container {
  height:100%;
  width: 100%;
  background-color: $background-white;
  opacity: 1;
  z-index: 100;
  position: fixed;
}
.nav-bar li:hover {
  .link-underline {
    opacity: 1;
    width: 80%;
    height: 1px;
  }
}
