.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 700ms;
  transition-delay: 700ms;
}

.fade-exit {
  opacity: 1;
  transition: 800ms;
  transition-delay: 300ms;
}
.fade-exit-active {
  opacity: 0;
}

.object-fade {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity: 1}
}

.spinner-container {
  height:100%;
  width: 100%;
  background-color: $background-white;
  opacity: 1;
  z-index: 100;
  position: fixed;
}
