a:hover {
  cursor: pointer;
}
.button-secondary {
  padding: 10px;
  background-color: $background-white;
  border: 3px solid $background-secondary;
  font-size: 18px;
  color: $text-default;
}
button{
  border: none;
  color: inherit;
}
button:hover {
  cursor: pointer;
}

.button-long {
  width: 60%;
  max-width: 200px;
}
.button-action {
  background-color: $button-primary;
  color: $text-inverse;
  transition: .3s;
}
.button-action:hover {
  background-color: $button-primary-hover;
  color: $text-inverse;
}
.button-exit {
  color: $text-inverse;
  display: inline-block;
  margin:10%;
}

.slick-prev, .slick-next {
  z-index: 100;
  transition: .2s;
}
.slick-prev:before, .slick-next:before {
font-size: 20px;
line-height: 1;
color: #00558B;
opacity: .75;
}
.slick-prev {
  left: -20;
}
.slick-next {
  right: -20;
}
