//figures
.divider-colored {
  border-color: $background-primary;
  background-color: $background-primary;
  width: 50%;
  max-width: 400px;
  border-style: solid;
  height: 1px;
}
.dash-vertical {
  transform: rotateZ(90deg);
  border-color: $background-primary;
  background-color: $background-primary;
  width: 30px;
  border-style: solid;
  height: 1px;
  margin: 20px;
  transition: .3s;
}

.hover-highlight:hover {
  .dash-vertical {
    border-color: $background-secondary;
    background-color: $background-secondary;
  }
}
.link-underline {
  width: 1px;
  height: 0px;
  opacity: 0;
  border-color: $background-secondary;
  background-color: $background-secondary;
  border-style: solid;
  transition-duration: .3s;
}

.triangle {
  position: absolute;
  bottom: 0;
  right:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  transform: rotateY(180deg);
  z-index: 0;
}
.triangle-left {
  position: absolute;
  bottom: 0;
  left:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  z-index: 0;
}
.display-box{
  height: auto;
  width: 60%;
  min-width: 500px;
  background-color: $background-white;
  box-shadow: 0px 0px 5px;
  padding: 10px;
  margin-bottom: 100px;
  margin-top: 50px;
  .inner-box {
    border: 2px solid $background-primary;
    height:100%;
    width:99%;
    padding: 50px 0;
  }
}
.slider {
  height: 100px;
  width: 300px;
}
//Images
.img-presented {
  width: 80vw;
  margin: 20px 0;
}
.img-categories {
  width: 45vw;
}
.img-project_preview {
  width:40%;
  height:auto;
  min-width: 400px;
  min-height: 300px;
  object-fit: cover;
}
.project_list_img-container img {
  height: 100%;
  object-fit: cover;
}
.img-skill {
  height: 100px;
  width: auto;
  margin-left: 30px;
}
.headshot {
  height: 300px;
  width: auto;
  border-radius: 200px;
  margin-top: 100px;
  box-shadow: 0px 0px 5px;
  align-self: flex-end;
}
.project_list_img-overlay{
  position: absolute;
  background-color: $background-grey-trans;
  height: 90%;
  width:90%;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
