//figures
.divider-colored {
  border-color: $background-secondary;
  background-color: $background-secondary;
  width: 50%;
  max-width: 400px;
  border-style: solid;
  height: 1px;
}
.dash-vertical {
  transform: rotateZ(90deg);
  border-color: $background-secondary;
  background-color: $background-secondary;
  width: 30px;
  border-style: solid;
  height: 1px;
  margin: 20px;
  transition: .3s;
}


.link-underline {
  width: 1px;
  height: 1px;
  opacity: 0;
  border-style: solid;
  transition-duration: .3s;
}

.hover-highlight:hover {
  cursor: pointer;
  .link-underline {
    height: 1px;
    width: 80%;
    opacity: 1;
  }
}


.triangle {
  position: absolute;
  bottom: 0;
  right:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  transform: rotateY(180deg);
  z-index: 0;
}
.triangle-left {
  position: absolute;
  bottom: 0;
  left:0;
  height: 100%;
  width: 80%;
  min-width: 800px;
  background-color: $background-primary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  z-index: 0;
}
.display-box{
  height: auto;
  width: 60%;
  min-width: 350px;
  background-color: $background-white;
  box-shadow: 0px 0px 5px;
  padding: 3%;
  margin-bottom: 100px;
  margin-top: 50px;
  .inner-box {
    border: 2px solid $background-primary;
    height:100%;
    width:99%;
    padding: 50px 0;
  }
}
.slider {
  height: 100px;
  width: 300px;
}
.mobile_menu-header {
  text-align: right;
  h3 {
    margin: 20px;
  }
}
.mobile_menu-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: .5s;
  background-color: $background-primary;
  z-index: 1000;
  ul {
    height: 100%;
  }
}
.menu-open{
  right: 0;
}
.menu-close {
  right: -100vw;
}
//Images
.img-presented {
  width: 80vw;
  margin: 20px 0;
}
.img-categories {
  width: 45vw;
  min-width: 400px;
}
.img-project_preview {
  width:40%;
  height:auto;
  min-width: 300px;
  object-fit: cover;
}
.project_list_img-container img {
  height: 200px;
  object-fit: cover;
}
.img-skill {
  height: 100px;
  width: auto;
  margin: 30px;
}
.img-social {
  width: 50px;
  height: auto;
  margin: 5px 14px;
}
.headshot {
  height: 200px;
  width: auto;
  border-radius: 200px;
  margin-top: 10vw;
  box-shadow: 0px 0px 5px;
  align-self: flex-end;
}
.homepage-banner {
  background-image: url('../images/home-banner.jpg');
  background-size: cover;
  background-position: center;
}
.project_list_img-overlay{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity:0;
  transition: opacity .5s;
  background-color: $background-secondary-trans;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.project_list_img-overlay:hover{
  opacity:1;
}
