//general layout
.full-width {
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

//containers and flex
  .flex-container {
    display: flex;
  }
  .center {
    justify-content: center;
    align-items: center;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .even-spacing {
    justify-content: space-around;
  }
  .body-container {
    min-height: 100vh;
  }
  .footer-container {
    height: 200px;
  }
  .text-center {
    text-align: center;
  }
  .project_item-container {
    display: flex;
    min-height: 300px;
    width: 40vw;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 50px 10%;
  }
  .project_text-container {
    position: absolute;
    right: -120px;
    top: 80px;
    min-width: 300px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

//elements
//Images
.img-presented {
  width: 80vw;
  margin: 20px 0;
}
.img-categories {
  width: 45vw;
}
.img-project_preview {
  width:40vw;
  height:100%;
  min-width: 400px;
  min-height: 300px;
}
.nav-bar {
  justify-content: space-around;
  margin: 2em 10%;
}
.header-subpage {
  height: 130px;
}

.mini-block{
  min-height: 200px;
}
//text

.text-project_caption {
  width: 90%;
  text-align: left;
}

.text-body_read {
  width: 80%;
  max-width: 600px;
}
