//general layout
.full-width {
  width: 100%;
}

body {
  height: 100%;
  width:100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}



//containers and flex
  .flex-container {
    display: flex;
    z-index: 10;
  }
  .center {
    justify-content: center;
    align-items: center;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .even-spacing {
    justify-content: space-around;
  }

  .reverse-wrap {
    flex-wrap: wrap-reverse;
  }
  .body-container {
    min-height: 100vh;
    height:100%;
    position: relative;
  }
  .footer-container {
    height: 200px;
    z-index:10;
  }
  .text-center {
    text-align: center;
  }
  .project_item-container {
    display: flex;
    min-height: 300px;
    width: 40vw;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 50px 10%;
  }
  .project_text-container {
    position: absolute;
    right: -50px;
    bottom: -50px;
    min-width: 60%;
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index:10;
  }



//elements
//Images
.img-presented {
  width: 80vw;
  margin: 20px 0;
}
.img-categories {
  width: 45vw;
}
.img-project_preview {
  width:40%;
  height:auto;
  min-width: 400px;
  min-height: 300px;
  object-fit: cover;
}
//Nav
.nav-bar {
  justify-content: space-around;
  margin: 2em 10%;
}

.nav-side{
  position: fixed;
  right:0px;
  bottom:30vh;
  transform: rotateZ(270deg);
  height: 10px;
  aside{
    position: absolute;
    bottom: 15px;
    ul{
      a{
        padding: 1em 0;
        text-align:center;
        width: 100px;
      }
  }
  }
}


.header-subpage {
  height: 130px;
}

.mini-block{
  min-height: 200px;
}
.project-pane {
  min-height: 500px;
}
//text

.text-project_caption {
  width: 90%;
  text-align: left;
}

.content-body_read {
  width: 80%;
  height: auto;
  overflow:visible;
  max-width: 600px;
  min-width: 400px;
}
.body-section {
  z-index: 10;
}
.header-offset {
  width: 30%;
  margin-left: 10%;
  margin-bottom: 20px;
}
.timeline-body {
  width:70%;
  margin: 0 15%;
  min-width: 600px;
}
.timeline-header {
  padding: 1em;
}
.timeline-body:first-child{
  margin-left:0px;
}
