@media screen and (min-width: 600px){
  //text rules
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }

  .active {
    color: $text-active;
  }
  .headshot {
    height: 400px;
    width: 400px;
  }
  .img-skill {
    height: 100px;
  }
  .button-secondary {
    padding: 15px;
    transition: .3s;
  }
  .button-secondary:hover {
    background-color: $background-secondary;
    color: $text-inverse;
  }
  .vertical-dash {
    font-size: 36px;
  }
  .divider-colored {
    border-color: $background-primary;
    background-color: $background-primary;
  }
}
