ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-inverse {
  color: $text-inverse;
}

.header-subpage {
  background-color: $background-colored;
}
.footer-container {
  background-color: $background-colored;
}
