body{
  color: $text-default;
}

//text
h1, h2, h3, h4, h5, p {
  font-family: $title-text;
  font-weight: 300;
  color: inherit;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 18px;
  line-height: 1.5em;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-inverse {
  color: $text-inverse;
}

.header-subpage {
  background-color: $background-colored;
}
.footer-container {
  background-color: $background-colored;
}

.project_text-container {
  background-color: $background-colored-trans;
}
.background-colored {
  background-color: $background-colored;
}
