body{
  color: $text-default;
}

//text
h1, h2, h3, h4, h5, a{
  font-family: $title-text;
  font-weight: 300;
  color: inherit;
}
p {
  font-family: $read-text;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 18px;
  line-height: 27px;
}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  transition: .3s;
}
a:hover {
  color: $text-active;
}

.text-inverse {
  color: $text-inverse;
}
button:focus {
  outline: none;
}

//elements

.header-subpage {

}
.footer-container {
  background-color: $background-grey;
}

.project_text-container {
  background-color: $background-primary;
  box-shadow: 0px 1px 1px $background-grey;
}
.project-pane {
  background-color: $background-primary;
}
.background-colored {
  background-color: $background-primary;
}




.nav-side {
 a {
   margin: .2em;
 }
}
