//colors
$blue: #91BCC1;
$blue-light: #A1D3DA;
$blue-trans: rgba(72,136,176,.7);
$gold: #DFAB1C;
$white: rgb(255,255,255);
$white-trans: rgba(255,255,255,.9);
$transparent: rgba(0,0,0,0);
$grey: rgb(90,90,90);
$grey-trans: rgba(90,90,90,.7);


//backgrounds
$background-primary: $blue;
$background-secondary: $gold;
$background-white: $white;
$background-white-trans: $white-trans;
$background-grey: $grey;
$background-grey-trans: $grey-trans;
$background-transparent: $transparent;

//text
$text-inverse: $white;
$text-default: $grey;
$title-text: 'Dosis', sans-serif;
$read-text: 'Lustria', serif;
$text-active: $gold;

//buttons
$button-primary: $blue;
$button-primary-hover: $blue-light;




//Imports
@import url('https://fonts.googleapis.com/css?family=Dosis|Lustria');
